# Setup

In [1]:
import pandas as pd
import os

In [2]:
#connect with drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd /content/drive/MyDrive/Dengue_GIS_Visualization/Daily Temperature and Precipitation/GEE_temperature_TOP10/Weekly_files
!ls

/content/drive/.shortcut-targets-by-id/1fE-F-3Jn4szRAw8YE8815U7HFyzrI_dW/Dengue_GIS_Visualization/Daily Temperature and Precipitation/GEE_temperature_TOP10/Weekly_files
JoinAll.ipynb	       temperature_23001.csv  temperature_68001.csv
temperature_05001.csv  temperature_41001.csv  temperature_73001.csv
temperature_05360.csv  temperature_50001.csv  temperature_76001.csv
temperature_08001.csv  temperature_54001.csv

# Files

In [4]:
files = []

for file in os.listdir():
  if file.endswith('.csv'):
    files.append(file)
print(f'The number of files is: {len(files)}')
print(files)

The number of files is: 10
['temperature_76001.csv', 'temperature_54001.csv', 'temperature_50001.csv', 'temperature_73001.csv', 'temperature_68001.csv', 'temperature_41001.csv', 'temperature_23001.csv', 'temperature_05001.csv', 'temperature_05360.csv', 'temperature_08001.csv']

In [5]:
def get_variable_and_code(file):
  var = file.split('_')[0]
  # Remove .csv
  code = file.split('_')[1][:-4]
  return var, code

In [6]:
from numpy import column_stack
def read_csv(file):
  df = pd.read_csv(file)
  df['LastDayWeek'] = pd.to_datetime(df['LastDayWeek'])
  df = df.set_index('LastDayWeek')
  var, code = get_variable_and_code(file)
  var_name = var + '_' + code
  df.rename(columns={"value": var_name}, inplace=True)
  return df

In [7]:
def merge_dfs(df1, df2):
  df = pd.merge(df1, df2, left_index=True, right_index=True)
  return df

# Merge dfs

In [8]:
df = pd.DataFrame()

for i, file in enumerate(files):

  # Read file
  df_aux = read_csv(file)

  if i == 0:
    df = df_aux

  else:
    df = merge_dfs(df, df_aux)

var = get_variable_and_code(files[0])[0]
df.to_csv(f'{var}_all.csv')

df

temperature_76001.csv
temperature_54001.csv
temperature_50001.csv
temperature_73001.csv
temperature_68001.csv
temperature_41001.csv
temperature_23001.csv
temperature_05001.csv
temperature_05360.csv
temperature_08001.csv

,temperature_76001,temperature_54001,temperature_50001,temperature_73001,temperature_68001,temperature_41001,temperature_23001,temperature_05001,temperature_05360,temperature_08001
LastDayWeek,,,,,,,,,,
2007-01-06,26.798994,28.716253,30.499987,24.946964,30.527059,26.808227,31.544848,18.891467,19.472312,32.404342
2007-01-13,27.445338,26.014823,32.679144,24.264144,29.503940,25.540390,32.842039,22.234263,20.917339,32.195587
2007-01-20,26.663907,24.001816,31.515612,20.083175,29.540390,30.247845,32.180980,22.268759,22.198782,31.609416
2007-01-27,28.156202,27.888802,33.214660,23.460747,28.281705,29.739707,32.140464,23.546037,27.959811,33.316458
2007-02-03,26.317674,31.454891,34.922636,22.736030,31.106320,27.313508,32.516943,25.353071,28.222460,32.422973
...,...,...,...,...,...,...,...,...,...,...
2019-12-07,22.310196,27.482515,28.687919,22.111518,28.946277,24.449650,26.108231,23.005193,25.708491,32.394214
2019-12-14,23.566368,26.197765,28.086320,21.715790,26.369721,22.755704,28.798954,23.116369,27.062200,34.725822
2019-12-21,26.581760,27.270940,27.012951,19.738069,22.733585,24.591901,29.584157,21.851085,26.709210,31.156401
2019-12-28,26.583045,28.012495,26.569504,19.351382,28.797819,22.383520,27.425613,23.223219,27.499270,28.100688
2020-01-04,29.372542,23.866993,28.294034,26.976281,28.118968,25.303134,26.321777,21.165657,24.297071,34.163122